<html>
<head>
<title>TTU-104</title>
<script type="text/javascript" src="/jquery-1.4.2/jquery.js"></script>
<script type="text/javascript">
var lockReconnect = false;  //避免ws重复连接
var ws = null;              // 判断当前浏览器是否支持WebSocket
var wsUrl = "ws://" + window.location.host + "/ws";
var line = 0;

createWebSocket(wsUrl);   //连接ws

function createWebSocket(url) {
    try{
        if('WebSocket' in window){
            ws = new WebSocket(url);
        }else if('MozWebSocket' in window){  
            ws = new MozWebSocket(url);
        }else{
            console.log("您的浏览器不支持websocket协议,建议使用新版谷歌、火狐等浏览器，请勿使用IE10以下浏览器，360浏览器请使用极速模式，不要使用兼容模式！")
            appendLog($("<div style=\"background-color:Tomato;\"><b>您的浏览器不支持websocket协议,建议使用新版谷歌、火狐等浏览器，请勿使用IE10以下浏览器，360浏览器请使用极速模式，不要使用兼容模式！</b></div>"))
        }
        console.log(url)
        initEventHandle();
    }catch(e){
        reconnect(url);
        console.log(e);
    }     
}

function initEventHandle() {
    ws.onclose = function () {
        reconnect(wsUrl);
        console.log(new Date().toLocaleString("zh-Hans-CN", { timeZone: 'Asia/Shanghai' })+" ws连接关闭!");
    };
    ws.onerror = function () {
        reconnect(wsUrl);
        console.log("ws连接错误!");
    };
    ws.onopen = function () {
        heartCheck.reset().start();      //心跳检测重置
        console.log(new Date().toLocaleString("zh-Hans-CN", { timeZone: 'Asia/Shanghai' })+" ws连接成功!");
    };
    ws.onmessage = function (event) {    //如果获取到消息，心跳检测重置
        heartCheck.reset().start();      //拿到任何消息都说明当前连接是正常的
        console.log(new Date().toLocaleString("zh-Hans-CN", { timeZone: 'Asia/Shanghai' }) + " ws收到消息啦:" +event.data); 
        if(event.data!='pong'){
            if (line % 2 == 0) {
                appendLog($("<div style=\"background-color:lightblue\">").text(event.data));
            } else {
                appendLog($("<div style=\"background-color:DodgerBlue\">").text(event.data));
            }
            line++;
        } 
    };
}

// 监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
window.onbeforeunload = function() {
    ws.close();
}  

function reconnect(url) {
    if(lockReconnect) return;
    lockReconnect = true;
    console.log(new Date().toLocaleString("zh-Hans-CN", { timeZone: 'Asia/Shanghai' })+" ws开始重连 ")
    setTimeout(function () {     //没连接上会一直重连，设置延迟避免请求过多
        createWebSocket(url);
        lockReconnect = false;
    }, 2000);
}

//心跳检测
var heartCheck = {
    timeout: 30000,        //30秒发一次心跳
    timeoutObj: null,
    serverTimeoutObj: null,
    reset: function(){
        clearTimeout(this.timeoutObj);
        clearTimeout(this.serverTimeoutObj);
        return this;
    },
    start: function(){
        var self = this;
        this.timeoutObj = setTimeout(function(){
            //这里发送一个心跳，后端收到后，返回一个心跳消息，
            //onmessage拿到返回的心跳就说明连接正常
            ws.send("ping");
            console.log(new Date().toLocaleString("zh-Hans-CN", { timeZone: 'Asia/Shanghai' }) + " send ping!")
            self.serverTimeoutObj = setTimeout(function(){//如果超过一定时间还没重置，说明后端主动断开了
                ws.close();     //如果onclose会执行reconnect，执行ws.close()就行了.如果直接执行reconnect 会触发onclose导致重连两次
            }, self.timeout)
        }, this.timeout)
    }
}

function appendLog(msg) {
    var log = $("#log")
    var d = log[0]
    var doScroll = d.scrollTop == d.scrollHeight - d.clientHeight;
    msg.appendTo(log)
    if (doScroll) {
        d.scrollTop = d.scrollHeight - d.clientHeight;
    }
}
   
</script>
<style type="text/css">
html {
    overflow: hidden;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: gray;
}

#log {
    background: white;
    margin: 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    right: 0.5em;
    bottom: 3em;
    overflow: auto;
}

</style>
</head>
<body>
<div id="log"></div>

</body>
</html>